@-webkit-keyframes MMM-NHL-pulse {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}

.MMM-NHL .table {
    border-spacing: 10px 0px;
    border-collapse: separate;
    text-align: center;
}

.MMM-NHL .icon {
    -webkit-filter: grayscale(100%);
}

.MMM-NHL .row {
    vertical-align: middle;
}

.MMM-NHL .away {
    -webkit-transform: scaleX(-1);
}


.MMM-NHL-blur {
    -webkit-filter: blur(2px) brightness(50%);
}

.MMM-NHL .modal {
    position: fixed;
    text-align: left;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
}

.MMM-NHL .modal ul {
    margin: 0px;
}